pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetProcessedBlobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "AzureSqlDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachProccessedBlob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetProcessedBlobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetProcessedBlobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set BlobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set BlobPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobPath",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Container",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set BlobName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set BlobPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Container",
								"value": {
									"value": "@{substring(item().Path,0,indexof(item().Path,item().BlobName))}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data to warehouse",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Region",
												"type": "String"
											},
											"sink": {
												"name": "Region",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Plant",
												"type": "String"
											},
											"sink": {
												"name": "Plant",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DeviceId",
												"type": "String"
											},
											"sink": {
												"name": "DeviceId",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Temperature",
												"type": "String"
											},
											"sink": {
												"name": "Temperature",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "TemperatureDescription",
												"type": "String"
											},
											"sink": {
												"name": "TemperatureDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Humidity",
												"type": "String"
											},
											"sink": {
												"name": "Humidity",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "RecordedTime",
												"type": "String"
											},
											"sink": {
												"name": "RecordedTime",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ProcessedBlobDataSet",
									"type": "DatasetReference",
									"parameters": {
										"Path": {
											"value": "@variables('Container')",
											"type": "Expression"
										},
										"Name": {
											"value": "@variables('BlobName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"BlobPath": {
				"type": "String"
			},
			"BlobName": {
				"type": "String"
			},
			"Container": {
				"type": "String"
			}
		},
		"annotations": []
	}
}