trainingdlDataFactory/PartialArmTemplates/ArmTemplate_11_19_2019_15_9_52.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "trainingdlDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetProcessedBlobs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[uspGetProcessableBlobs]"
							},
							"dataset": {
								"referenceName": "AzureSqlDataSet",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachProccessedBlob",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetProcessedBlobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetProcessedBlobs').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set BlobName",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "BlobName",
										"value": {
											"value": "@{item().BlobName}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Container",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Container",
										"value": {
											"value": "@{substring(item().Path,0,indexof(item().Path,item().BlobName))}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data to warehouse",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Container",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set BlobName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Region",
														"type": "String"
													},
													"sink": {
														"name": "Region",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Plant",
														"type": "String"
													},
													"sink": {
														"name": "Plant",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DeviceId",
														"type": "String"
													},
													"sink": {
														"name": "DeviceId",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Temperature",
														"type": "String"
													},
													"sink": {
														"name": "Temperature",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "TemperatureDescription",
														"type": "String"
													},
													"sink": {
														"name": "TemperatureDescription",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Humidity",
														"type": "String"
													},
													"sink": {
														"name": "Humidity",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "RecordedTime",
														"type": "String"
													},
													"sink": {
														"name": "RecordedTime",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ProcessedBlobDataSet",
											"type": "DatasetReference",
											"parameters": {
												"Path": {
													"value": "@variables('Container')",
													"type": "Expression"
												},
												"Name": {
													"value": "@variables('BlobName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSynapseAnalyticsTable",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Stored Procedure to update ProcessedBlobs",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data to warehouse",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[uspUpdateBlobMetadata]",
										"storedProcedureParameters": {
											"dlsLocation": {
												"value": null,
												"type": "String"
											},
											"recordId": {
												"value": {
													"value": "@{item().RecordId}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"BlobName": {
						"type": "String"
					},
					"Container": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ProcessedBlobDataSet')]",
				"[concat(variables('factoryId'), '/datasets/AzureSynapseAnalyticsTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedBlobDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageProccessed",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Path": {
						"type": "string"
					},
					"Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Path",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "DeviceId",
						"type": "String"
					},
					{
						"name": "Temperature",
						"type": "String"
					},
					{
						"name": "TemperatureDescription",
						"type": "String"
					},
					{
						"name": "Humidity",
						"type": "String"
					},
					{
						"name": "RecordedTime",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "RecordID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Plant",
						"type": "nvarchar"
					},
					{
						"name": "DeviceId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Temperature",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TemperatureDescription",
						"type": "nvarchar"
					},
					{
						"name": "Humidity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RecordedTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DeviceData"
				}
			},
			"dependsOn": []
		}
	]
}